<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>467457257898-7l338c23465tns805g7dc3r19tpn34sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467457257898-7l338c23465tns805g7dc3r19tpn34sp</string>
	<key>API_KEY</key>
	<string>AIzaSyDeopu3wQuBMuCpPql65fpRroA18eZAAjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>467457257898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>one.meet</string>
	<key>PROJECT_ID</key>
	<string>meet-577c0</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-577c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467457257898:ios:d39b8420a35ab399</string>
	<key>DATABASE_URL</key>
	<string>https://meet-577c0.firebaseio.com</string>
</dict>
</plist>